@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
.row1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  gap: 20px;
  padding: 20px;
}
.user {
  text-align: center;
  padding-top: 100px;
  color: rgb(69, 226, 77);
  text-shadow: 2px 2px 2px rgb(223, 223, 223);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body {
  background-color: rgb(222, 238, 255);
}
